img {
  width: 50px;
}

.enphasys {
  animation-duration: 1s;
  animation-name: paragraph;
  animation-timing-function: ease-in;
}

@keyframes paragraph {

  0% {
    font-size: 100%;
    color: white;
  }

  50% {
    color: black;
    font-size: 130%;
  }

  100% {
    font-size: 100%;
    color: white;
  }
}
