.arrow {
  display: flex;
}

.arrow img {
  width: 50px;
}

.emptyBox img {
  width: 180px;
}

.shoppingCart {
  display: flex;
  flex-direction: row;
}

.shoppingCart img {
  height: 30px;
  margin: 10px;
  width: 30px;
}
