.row {
  align-items: center;
  display: flex;
  background-color:;
}

.row img {
  margin-left: 2vw;
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  z-index: 2;
}

.row a {
  margin-left: 10px;
}

.row span {
  color: white;
  font-weight: 700;
}

.rounded {
  margin-top: -15px;
  width: 22px;
  height: 22px;
  float: right;
  border: black 1px solid;
  background-color: black;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row button {
  border: 1px lightgray solid ;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 0 0 15px;
  padding: 12px 20px;
}

input {
  border: 1px lightgray solid;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
}

header {
  align-items: center;
  background-color: rgb(107, 106, 106);
  display: flex;
  font-family: sans-serif;
  height: 10vh;
  justify-content: space-around;
}
