.addItensCar {
  align-items: center;
  display: flex;
  margin: 10px;
  padding-left: 10px;
}

.addItensCar div {
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 10px;
  padding: 15px;
  text-align: center;
  width: 15px;
}

.MoreOrLess {
  background-color: white;
  border: none;
  font-size: 2em;
  margin-left: 10px;
  width: 30px;
}

.addToCar {
  margin-left: 10px;
}

.formDetail {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin: 1vh 0;
  overflow: auto;
  padding: 1px;
  text-align: center;
  width: 600px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input {
  border: 0.5px solid gray;
}

.inLineForm {
  display: flex;
}
