.productDetail {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1vh 0;
  height: 400px;
  overflow: auto;
  padding: 1px;
  text-align: center;
  width: 300px;
}

.price {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  padding: 1px 0;
  margin-top: 5px;
}

.productDetail img {
  width: 60%;
}

.row {
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
