.main-row {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.asideDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.listDiv {
  width: 80%;
}
